.showHinhDiaDiem {
  width: 100%;
  height: 300px;
}

.showHinhNen {
  width: 100%;
  height: 300px;
}

.showIcon {
  width: 50px;
  height: 50px;
}

.showAnhDaiDienAlbum {
  width: 100%;
  height: 200px;
}

.editHinhAlbum {
  width: 100%;
  height: 250px;
}

.is-remove {
  float: left;
  width: 100%;
}

.file-input-new {
  display: none;
}
